.backdrop {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: 0.2;
}
.createCon {
  border-radius: 1rem;
  padding: 2rem 1rem;
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 1rem;
}
.header {
  display: flex;
  width: 100%;
}
.close {
  text-align: left;
  border-radius: 50%;
  padding: 1rem;
}
.close:hover {
  background-color: rgba(255, 255, 255, 0.151);
  cursor: pointer;
}

.logoimg {
  width: 100%;
  /* background-color: violet; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
    flex: 1;
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }
.title {
  font-size: 2rem;
  font-weight: 700;
}
.input {
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  width: 100%;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.337);
  outline: none;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.466);
}
.input:focus,
.input:active {
  border: 1px solid rgb(29, 155, 240);
}
.next {
    margin-top: 1rem;
    width: 100%;
    background-color: white;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
  .error{
    color: red;
    font-size: 1rem;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .backdrop{
      display: none;
    }
    .createCon {
      position: absolute;
      top:0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
    
  }